.boloc{
    margin-top:13px;
    margin-bottom:13px;
}
.boloc th td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;    /* Hide content that overflows */
    text-overflow: ellipsis; /* Display ellipsis (...) for overflowed content */
}
.boloc th {
    background-color: #333;
    color: white;
}