body {
    width: 100%;
    height: 100%;
}

header {
    border-radius: 15px;
    display: flex;
    height: 100px;
    background-color: rgb(170, 246, 246);
}

.navigation ul {
    border-radius: 20px;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.navigation ul li {
    padding: 30px;
    margin: 0px;
    position: relative;
    background-color:  rgb(91, 114, 239);
    transition: background-color 0.5s ease-in-out ;
}

.navigation a {
    text-decoration: none;
    color: azure;    
}

.navigation li:hover{
    background-color: rgb(219, 233, 246);
}

.navigation li:hover a{
    color: rgb(91, 114, 239);
}