<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo"></div>
            <div class="name-program">
                <h1>Phần mềm quản lý điểm danh và chấm công</h1>
            </div>
            <div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>            
            </div>
        </header>

        <div class="navigation">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a th:href="@{'/roll-call-and-timekeeping-detail/' + ${currentUser.id}}">Điểm danh và chấm công</a></li>
                <li><a th:href="@{'/show-all-shift'}">Quản lý ca làm việc</a></li>
                <li><a th:href="@{'/show-all-user'}">Quản lý nhân viên</a></li>
            </ul>
        </div>

        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Thời gian bắt đầu</th>
                    <th>Thời gian kết thúc</th>
                    <th>Ngày làm</th>
                    <th>Số lượng nhân viên tối đa</th>
                </tr>

                <tr th:each="shift : ${listShift}">
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.id}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.name}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.startTime}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.endTime}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.workingDay}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/shift-detail/' + ${shift.id}}">
                            <span th:text="${shift.max}"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>