<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo"></div>
            <div class="name-program">
                <h1>Phần mềm quản lý điểm danh và chấm công</h1>
            </div>
            <div>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>            
            </div>
        </header>

        <div class="navigation">
            <ul>
                <li><a href="/home">Trang chủ</a></li>
                <li><a href="/page/register-shift">Đăng ký ca</a></li>
                <li><a th:href="@{'/roll-call-and-timekeeping-detail/' + ${currentUser.id}}">Điểm danh và chấm công</a></li>
                <li><a th:href="@{'/show-all-shift'}">Quản lý ca làm việc</a></li>
                <li><a th:href="@{'/show-all-user'}">Quản lý nhân viên</a></li>
                <li><a th:href="@{'/page/personal-home-page'}">Thông tin cá nhân</a></li>
            </ul>
        </div>

        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Họ và Tên</th>
                    <th>Email</th>
                    <th>Chức vụ</th>
                    <th></th>
                </tr>

                <tr th:each="user : ${listUser}">
                    <td>
                        <a th:href="@{'/user-detail/' + ${user.id}}">
                            <span th:text="${user.id}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/user-detail/' + ${user.id}}">
                            <span th:text="${user.name}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/user-detail/' + ${user.id}}">
                            <span th:text="${user.email}"></span>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/user-detail/' + ${user.id}}">
                            <span th:text="${user.position}"></span>
                        </a>
                    </td>
                    <td>
                        <button th:onclick="'deleteUser(\'' + ${user.id} + '\')'">Xoá</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        function deleteUser(userId) {
            const id = userId;
            fetch('http://localhost:8080/delete-user' , {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(id)
            })
                .then((response) => {
                    if (response.status == 200) {
                        alert("Bạn đã đăng ký thành công tài khoản thành công!");
                        // window.location.href = "login";
                    }
                    else {
                        alert("Tên người dùng đã tồn tại");
                    }
                })
                .catch((error) => {
                    alert("Lỗi trong quá trình chạy!");
                });
        }
    </script>
</body>
</html>